{% extends "layout.html" %}
{% block title %}Andrej Kiripolsky | On rapid iterative testing{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid" style="background: url(https://live.staticflickr.com/3507/3239876525_b72498173e_b.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <div class="container">
    <h1 class="display-4" style="color: white">On rapid iterative testing</h1>
    <p style="color: white">by <a href="https://gitlab.com/akiripolsky" style="color: white">Andrej Kiripolsky</a><p>
    <p class="lead" style="color: white">Recently I was asked if I have any experience with rapid iterative prototype testing. This is my answer.</p>
  </div>
</div>
<p>Previously I worked with a team that iterated very quickly – my goal was just to find as many usability issues as possible with as low effort as possible so they could improve the design and repeat the cycle frequently. I enjoyed that work and I learned a lot. Here are my <b>5 recommendations</b>:
</p>
<h4>1. Make it clear that the outcomes are qualitative, not quantitative</h4>
<p>It’s better not to collect information that stakeholders might try to interpret quantitatively (e.g. success rate) and correct them if they make wrong conclusions. 
</p>
<h4>2. Do usability inspection, rather than usability testing
</h4>
<p>Heuristic review, cognitive walkthrough or expert review can produce a ton of valuable feedback especially in the early iterations and are less time-consuming. My favorite is the expert review because its results are the most valuable from all the other inspection methods and the experts are super easy to recruit – in our case, there are at least 62 experts in our company. 😄 I can share more details if it is interesting.
</p>
<h4>3. Save time and energy whenever you can
</h4>
<p>If you are doing usability testing, try to save time on everything you can. For example:
</p>
<ul class="list">
  <li>Don’t produce any documentation that is not necessary.</li>
  <li>Save time on recruiting by talking to internal folks (newcomers are awesome).</li>
  <li>I tested usually with only 2 participants because the maturity of the designs was extremely low (we discovered catastrophic usability issues with nearly every participant). In the article <a href="ftp://ftp.cs.umanitoba.ca/pub/cs371/Readings/Guerrilla.pdf">Guerrilla HCI</a>, Nielsen mentions a case where he ‘tested with just a single user’ per iteration. Btw the article is great. 🤩</li>
  <li>Have a good note-taker that can spot usability issues. Spend time on debrief with the note-taker (+ the rest of the team ideally) where you sum up what happened. It can save you time spent on analysis later.</li>
  <li>Report findings as close to the “designers’ hands” as possible. I reported directly to InVision as comments (in our case it would be Figma).</li>
</ul>
<p>It’s worth it to spend more time only on stuff that you will be reusing in all the iterations – e.g. scenarios.</p>
<h4>4. Spend a similarly small amount of time on each of the steps of the research process</h4>
<p>Spending a lot of time on preparation, execution, or analysis and then not reporting the findings properly is a waste of material and degradation of your work. On the other hand, saving time on preparation, execution, or analysis and then doing a huge and shiny report/insights can mislead the stakeholders to think that you can do normal study in such a short time and they might have incorrect expectations in the future. </p>
<h4>5. Keep up with the changes</h4>
<p>The designs can change way too often and it’s extremely annoying to learn that you tested something that is not up to date anymore and you basically wasted your time or designers can unintentionally introduce problems that were fixed previously. Keep track of the design versions and the problems that you have found in previous iterations (e.g. using screenshots). Before you test a new version of the design, check if you can find any usability problems that were already identified.</p>

<p style="font-size: 0.9rem;font-style: italic;">Artwork – "TROPICAL BRAZIL - Generative Art"<span> by <a href="https://www.flickr.com/photos/23722380@N02">Paulo Colacino</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-SA 2.0</a><a href="https://creativecommons.org/licenses/by-nc-sa/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-sa_icon.svg" /></a></p>

{% endblock %}
