{% extends "layout.html" %}
{% block title %}Andrej Kiripolsky | Portfolio{% endblock %}
{% block body %}

<h1 style="margin-top: 50px">👋 Hi there!</h1>
<p>My name is <a href="https://www.linkedin.com/in/andrej-kiripolsk%C3%BD-22042843/">Andrej</a> and I am a UX researcher. This is my portfolio – my actual day-to-day work in the lowest level of detail possible. Enjoy.</p>

<h2>Some big projects that I worked on recently</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Qualitative study</h5>
        <p class="card-text">Interviews about how do IT operations professionals resolve incidents with the applications or infrastructure.</p>
        <a href="https://gitlab.com/gitlab-org/ux-research/-/merge_requests/19" class="btn btn-primary">Check it out!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quantitative study</h5>
        <p class="card-text">Survey to help the PM do a better informed decisions when prioritizing features for development.</p>
        <a href="https://gitlab.com/gitlab-org/ux-research/-/merge_requests/28" class="btn btn-primary">Check it out!</a>
      </div>
    </div>
  </div>
</div>

<br/>

<h2>What I answer when my colleagues ask</h2>

<p>Giving advise to PMs and designers about how to do research properly
   is an important part of my job. Here are few real life examples:</p>

<ul class="list-group list-group-flush">
  <li class="list-group-item">"Do you have any recommendations about working with a <b>rapidly iterating team</b>?" <a href="page">My answer/Blog</a></li>
  <li class="list-group-item">"Any feedback on my <b>remote unmoderated usability testing</b> research design?" <a href="https://gitlab.com/gitlab-org/ux-research/-/issues/961#note_392075274">My answer</a></li>
  <li class="list-group-item">"We have some idea of a research study, but <b>should we do it</b>?" <a href="https://gitlab.com/gitlab-org/gitlab/-/issues/216991#note_365575992">My answer</a></li>
  <li class="list-group-item">"<b>How many participants do we need</b> for a summative study?" <a href="https://gitlab.com/gitlab-org/ux-research/-/issues/651#note_292494220">My answer</a></li>
</ul>

<br/>

<h2>A few blogs where my name appears</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">#2 Designing Travel Experiences with Andrej Kiripolsky <a href="https://design.kiwi.com/2-designing-the-travel-experience-with-andrej-kiripolsky-37f5bc7afa90">Blog</a></li>
  <li class="list-group-item">Pair Design in practice? <a href="https://uxdesign.cc/%EF%B8%8F-pair-design-in-practice-2467eb4004e7">Blog</a></li>
  <li class="list-group-item">How do heuristics help us find usability problems fast? <a href="https://design.kiwi.com/how-do-heuristics-help-us-find-usability-problems-fast-e571780940c7">Blog</a></li>
</ul>
<br/>
<p>Interested in more? See literally everything I worked on since January in <a href="https://gitlab.com/users/akiripolsky/activity">my GitLab profile</a>.</p>

{% endblock %}
